@charset "utf8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
	height: 100%;
	font-size: 62.5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	background: linear-gradient(138deg, rgba(6,0,103,1) 33%, rgba(0,0,162,1) 60%, rgba(0,89,175,1) 100%);

}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	background-color: antiquewhite;
	border-radius: 15px;
	padding: 4rem;
	box-shadow: 5px 5px 20px;
}

h1 {
	font-size: 3rem;
}

.inputs {
	padding: 2rem;
	border-radius: 5px;
}

label {
	display: block;
	font-size: 2rem;
}

input {
	width: 20rem;
	height: 6rem;
	font-size: 2rem;
	padding: 1rem;
	text-align: center;
	border-radius: 6px;
}

output {
    width: 20rem;
	font-size: 1.5rem;
	font-weight: bold;
}

button {
	width: 20rem;
	padding: 1rem;
	display: block;
	font-size: 1.5rem;
	letter-spacing: 0.3rem;
}

button:hover {
    background: rgba(0, 140, 255, 0.493);
    animation: border 2s ease-in-out ;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

input:focus {
	background: rgba(0, 140, 255, 0.293);
}

input::placeholder {
    font-size: 1.5rem;
    opacity: .5;
}