@charset "utf8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: antiquewhite;
    font-size: 2.4rem;
    padding: 2rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

h1 {
    text-align: center;
    font-style: italic;
    line-height: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-indent: 30px;
}