@charset "utf8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
b :root {
	--font-paragraph: "Roboto";
	--font-heading: "verdana";
	--border: 1px solid #000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}
 
main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
}

h1 {
	font-family: var(--font-heading);
	font-size: 3rem;
	line-height: 4rem;
}

h2 {
	font-family: var(--font-heading);
	font-size: 1.6rem;
	line-height: 3.6rem;
}

p {
	font-family: var(--font-paragraph);
	font-size: 1.2rem;
	line-height: 2rem;
}

.teste {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}




@media (min-width: 768px) {
	main {
		padding: 4rem;
	}
	
	h1 {
		font-size: 4rem;
		line-height: 5rem;
	}
	
	h2 {
		font-size: 2rem;
		line-height: 4rem;
	}
	
	p {
		font-size: 1.4rem;
		line-height: 2.4rem;
	}
	
	.teste {
		flex-direction: row;
	}
}