* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


html {
    width: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(180, 14%, 97%);
}

header {
    height: 3rem;
}

nav {
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3rem;
}

main {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    line-height: 25px;
    border-radius: 20px;
    background-color: hsla(170, 100%, 40%, 0.291);
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    margin: 2rem 0;
}

p {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

li:hover {
    border-bottom: 1px solid red;
}