@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.container {
    background-color: bisque;
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 2rem;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-auto-columns: min-content;
}

.item {
    border: 1px solid blue;
    background-color: brown;
    padding: 3rem;
}