@charset "utf-8";

:root {
    font-size: 62%;
}

body {
    background-color: #7b8fb8;
    font-size: 2.2rem;
    color: darkgrey;
}

main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ffffff;
}

section {
    text-align: center;
    background-color: #2f2a59;
    border-radius: 1rem;
    padding: 3rem;
    width: 50rem;
    box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.538);
}

input[type=button] {
    border: none;
    background-color: #bdbdbd;
    font-size: 1.8rem;
    width: 20rem;
    height: 4rem;
    transition: all .4s;
}

input[type=button]:hover {
    background-color: #878787;
    transform: scale(1.05);

}

footer {
    text-align: center;
    font-style: italic;
}

input[type=text] {
    border: none;
    outline: none;
    height: 2.5rem;
    width: 18rem;
    font-size: 1.7rem;
}