* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

:root {
	font-size: 62.5%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	background-color: #f5f5f5;
}

header {
	background-color: #2c5eafb4;
	padding: 2rem;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

header ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

header ul li a {
	color: #fff;
	font-size: 2rem;
}

header ul li a:hover {
	border-bottom: 2px solid #000;
}

header ul li:first-child {
	background-color: rgb(33, 15, 193);
	border-radius: 5px;
	padding: 0.5rem;
}

header ul li:nth-child(2) {
    background-color: rgb(193, 193, 15);
    border-radius: 5px;
    padding: 0.5rem;
}

header ul li:nth-last-child(2) {
    background-color: rgb(15, 193, 193);
    border-radius: 5px;
    padding: 0.5rem;
}

header ul li:last-child {
	background-color: rgb(193, 18, 15);
	border-radius: 5px;
	padding: 0.5rem;
}

main {
    width: 100%;
    text-align: center;
}

h1::first-line {
	font-size: 7rem;
	color: rgb(15, 193, 83);
    float: left;
}

h1::after {
	content: "Ola, sou um pseudo elemento AFTER";
	border-bottom: 1px solid red;
	display: block;
	margin-top: 2rem;
}

h1::selection {
	background-color: #f70000;
}
